{% comment %} TODO Extract styles into a css file {% endcomment %}
<td class="duty-cell" draggable="true" data-duty="{{assignment_key}}">
    <div style="position: relative;">
        {% if user %}
            <input class="assignment-input keep-datalist" type="text" list="{{task.id}}" value="{{user.last_name}}, {{ user.first_name }}">
        {% else %}
            <input class="keep-datalist" type="text" list="{{task.id}}" value="">
        {% endif %}
        <div style="position: absolute; display: flex; right: 5px; bottom: 1px;">
        </div>
    </div>
</td>
